<footer class="footer">
  <span class="todo-count"><strong>{{ itemsLeft$ | async }}</strong><span> {{ itemText$ | async }} left</span></span>
  <ul class="filters">
    <li *ngFor="let item of filterTitles">
      <a
        href="#"
        [class.selected]="item.key === (filter$ | async)"
        (click)="handleFilterSelect(item.key)"
      >
        {{ item.value }}
      </a>
    </li>
  </ul>
  <button *ngIf="!!(completedCount$ | async)" class="clear-completed" (click)="handleClearCompleted()">Clear completed</button>
</footer>
